In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn import datasets, linear_model, metrics
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df_17=pd.read_csv('Happines2017.csv')

In [4]:
df_17.head(4)

,Overall Rank,Change in rank,Country,Score,Change in score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust,Residual
0,1,Increase 3,Norway,7.537,Increase 0.039,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,2,Decrease 1,Denmark,7.522,Decrease 0.004,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,3,Steady,Iceland,7.504,Increase 0.003,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,4,Decrease 2,Switzerland,7.494,Decrease 0.015,1.565,1.517,0.858,0.620,0.291,0.367,2.277

In [53]:
df_17.columns

Index(['Overall Rank', 'Change in rank', 'Country', 'Score', 'Change in score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity', 'Trust', 'Residual'],
      dtype='object')

In [56]:
df_SH=df_17.drop(['Overall Rank','Change in rank','Change in score','Score','GDP per capita','Freedom to make life choices', 'Generosity', 'Trust', 'Residual'],axis=1)

In [57]:
df_SH.head(5)

         Country  Social support  Healthy life expectancy
0         Norway           1.534                    0.797
1        Denmark           1.551                    0.793
2        Iceland           1.611                    0.834
3    Switzerland           1.517                    0.858
4        Finland           1.540                    0.809

In [58]:
ss=StandardScaler()

In [ ]:
df_SH = StandardScaler().fit_transform(df), columns = ['x1', 'x2'])

In [5]:
df_17.describe()

,Overall Rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust,Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.367619,0.984716,1.188871,0.551342,0.408761,0.246884,0.123097,1.850206
std,44.888751,1.142394,0.420809,0.287245,0.237035,0.150001,0.134814,0.101629,0.500061
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.378000
25%,39.500000,4.505500,0.663500,1.042500,0.370000,0.304000,0.154000,0.057000,1.591500
50%,78.000000,5.293000,1.065000,1.254000,0.606000,0.437000,0.232000,0.090000,1.833000
75%,116.500000,6.136500,1.318000,1.414000,0.723000,0.516500,0.323500,0.153500,2.145000
max,155.000000,7.537000,1.871000,1.611000,0.949000,0.658000,0.838000,0.464000,3.117000

In [6]:
df_gdp=pd.read_csv('WEO_Data.csv')

In [13]:
# df=df_17.merge(df_gdp,left_on='Country', right_on='Country')

In [24]:
df_gen=pd.read_csv('G17.csv')

In [29]:
df_gen=df_gen.dropna()

In [38]:
# df=pd.concat([df_17, df_gen],axis=1)
pd.merge(df_17, df_gen, on='Country')

Empty DataFrame
Columns: [Overall Rank, Change in rank, Country, Score, Change in score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Trust, Residual, HDI rank, Value]
Index: []

In [40]:
df_17.shape

(155, 12)

In [46]:
# result = pd.merge(df_gen,
#                  df_17[['Country', 'Score']],
#                  on='use_id')
# result.head()

TypeError: merge() got an unexpected keyword argument 'axis'